*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: hsla(239, 97%, 25%, 0.87);
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #000;
}
header h2{
    color: white;
    text-shadow: 3px 3px 3px black;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 10px;
}
.navbar a:hover{
    color: hsl(0, 0%, 0%);
    background-color: hsla(0, 0%, 100%, 0.425);
    border-radius: 10px;
}
#current{
    color: aqua;
}
.container img{
    height: 645px;

}
.container .image2{
    background: hsla(0, 0%, 100%, 0.171);
    height: 250px;
    width: 250px;
    border-radius: 30px;
    position: absolute;
    top: 30%;
    left: 22%;
    animation-name: color;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes color {
    0%{box-shadow: 0px 0px 30px hsl(0, 0%, 0%);}
    20%{box-shadow: 0px 0px 20px hsl(0, 0%, 0%),
                    0px 0px 20px hsl(2, 100%, 59%)
                    0px 0px 30px hsl(310, 100%, 50%);}
    40%{box-shadow: 0px 0px 10px hsl(0, 1%, 67%),
                    0px 0px 20px hsl(270, 100%, 59%),
                    0px 0px 30px hsl(240, 100%, 50%);}
    60%{box-shadow: 0px 0px 10px hsl(0, 5%, 100%),
                    0px 0px 20px hsl(93, 100%, 59%),
                    0px 0px 30px hsl(167, 100%, 50%);}
    80%{box-shadow: 0px 0px 10px hsl(0, 2%, 57%),
                    0px 0px 20px hsl(73, 100%, 59%),
                    0px 0px 30px hsl(335, 100%, 50%);}
    100%{box-shadow: 0px 0px 30px hsl(0, 0%, 0%);}
    
}
.container #welcome{
    color: hsla(0, 0%, 100%, 0.678);
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 2em;
}

.intro{
    position: absolute;
    top: 40%;
    right: 10%;
}
.intro .text{
    color: hsla(0, 0%, 100%, 0.788);
    padding:2px;
    font-size: 2em;
    text-align: center;
}
.intro .github{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    color: rgb(0, 0, 0);
}
.github:hover{
    color: hsla(0, 0%, 0%, 0.588);
}


@media only screen and (max-width: 767px){
   
}